{%extends 'base.html'%}
{%block title%}About{%endblock title%}
{%block about%}
<div id="layout">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="about">
                    <h1 class="h1">About Us</h1>
	            <p>LiTiSsYya is a website to download youtube videos as video or audio. It was created in 2023 by me,SSE. I got the idea when I was trying to download a video from youtube to my phone and I couldn't find any good websites so I decided to make my own.The name LiTiSsYya comes from my old girlfriend's nickname. I hope you enjoy using LiTiSsYya and thank you for your support!</p>
</div>
</div>
</div>
</div>
{%include 'footer.html'%}
{%endblock about%}
